
BODY {
  COLOR: #000000;
  BACKGROUND: #ffffff;
  FONT-FAMILY: ‚l‚r ‚oƒSƒVƒbƒN, MS UI Gothic;
  FONT-SIZE: 90%;
}

A:link {
  COLOR: blue;
}

A:visited {
  COLOR: purple;
}

A:active {
  COLOR: red;
}

A:hover {
  COLOR: red;
}

H1 { 
  font-size: 125%;
  border: solid;
  border-width: 0px 0px 2px 0px;
  border-color: #602810;
  letter-spacing: 1em;
}

H2 {
  COLOR: #000000;
  FONT-SIZE: 110%;
}

H3 {
  COLOR: #000000;
  FONT-SIZE: 125%;
  BORDER: outset thin;
  BORDER-TOP: 0;
  BORDER-LEFT: 0;
  BORDER-RIGHT: 0;
}

H4 {
  COLOR: #000080;
  FONT-SIZE: 105%;
  BORDER: outset thin;
  BORDER-TOP: 0;
  BORDER-LEFT: 0;
  BORDER-RIGHT: 0;
}

P {
  MARGIN-BOTTOM: 0.75em;
  MARGIN-TOP: 0.75em;
  margin-left: 2em;
}

P.menu {
  margin-left: 0em;
}

BLOCKQUOTE {
  margin-left: 4em;
}

.va {
  font-weight: bold;
  color: #ff4000;
  background-color: #ffe0c0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.2em;
}

.98 {
  font-weight: bold;
  color: #8040e0;
  background-color: #e0e0ff;
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-right: 0.2em;
}


DT {
  MARGIN-TOP: 0.5em;
  margin-bottom: 0.5em;
}

DD {
  MARGIN-LEFT: 1.5em;
  MARGIN-BOTTOM: 1em;
}

OL {
  MARGIN-LEFT: 4.0em;
}

UL {
  LIST-STYLE: disc;
  MARGIN-LEFT: 3.5em;
}

LI {
  MARGIN-LEFT: 0em;
  MARGIN-BOTTOM: 0.5em;
}

LI.nopad {
  MARGIN-LEFT: 0em;
  MARGIN-BOTTOM: 0em;
}

TABLE {
  FONT-SIZE: 95%;
  MARGIN-TOP: 0.5em;
  MARGIN-BOTTOM: 0.5em;
}

TABLE.spec {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
}

TABLE.dummy {
  FONT-SIZE: 100%;
  MARGIN-TOP: 0.5em;
  MARGIN-BOTTOM: 0.5em;
}

TH {
  BACKGROUND: #ffd694;
  VERTICAL-ALIGN: top;
  padding: 0.2em;
}

TD {
  BACKGROUND: #fff5cf;
  VERTICAL-ALIGN: top;
  padding: 0.2em;
}

TD.topic {
  BACKGROUND: #ffffff;
  TEXT-ALIGN: center;
  VERTICAL-ALIGN: top;
}

TD.topicv {
  BACKGROUND: #ffffff;
  TEXT-ALIGN: left;
  VERTICAL-ALIGN: middle;
}

TD.bottomr {
  BACKGROUND: #ffffff;
  TEXT-ALIGN: right;
  VERTICAL-ALIGN: top;
}

TD.dummy {
  BACKGROUND: #ffffee;
  VERTICAL-ALIGN: top;
}

TD.spec1 {
  BACKGROUND: #ffffee;
  VERTICAL-ALIGN: top;
  border-style: solid;
  border-width: 1px;
}

TD.spec2 {
  BACKGROUND: #ffffff;
  VERTICAL-ALIGN: top;
  border-style: solid;
  border-width: 1px;
}

